// variables such as color, font size, font style and so forth goes here
$tablet: 768px;
$laptop: 1024px;

// colors
$black: black;
$iconsColor: #9ea9c1;
$iconsColorLarge: #667085;
$blue: #443df6;

// $accent
// $secondary:
