@import "../../styles/components/reuseable.module";
.layout_container {
  @include flex($justifyContent: center, $direction: column);
  width: 100vw;
  height: 100svh;
  position: relative;
  @include test-border(yellow);

  .sidebar_container {
    position: absolute;
    bottom: 0;
    left: 0;
    // height: fit-content;
    max-height: 100px;
    width: 100%;

    // position: relative;
    z-index: 10;
    // @include test-border(blue);
  }
}

// tablet
@media screen and (min-width: 768px) {
  .layout_container {
    @include flex($direction: row, $justifyContent: flex-start);
    .sidebar_container {
      position: relative;
      bottom: 0;
      left: 0;
      min-height: 100vh;
      max-height: 100vh;
      width: fit-content;

      // position: relative;
      z-index: 10;
      // @include test-border(blue);
    }
  }
}
// desktop
@media screen and (min-width: 1024px) {
  .layout_container {
    @include flex($direction: row, $justifyContent: flex-start);

    .sidebar_container {
      min-height: 100vh;
      max-height: 100vh;
      position: relative;
      width: fit-content;
      z-index: 10;
      @include test-border(blue);
    }
  }
}

.children {
  height: 150vh;
  width: 100%;
}
